body{
    position: absolute;
    left: 10%;
    right: 10%;
    min-width: 820px;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    padding: 5px;
    margin-bottom: 10px;
    position: relative;
    top: 0px;
    background: rgba(26, 171, 138, 0.7);
    text-align: center;
    color: #fff;
}
article{
    background: rgba(26, 171, 138, 0.15);
    padding: 20px;
}
p{
    padding-left: 250px;
    position: relative;
    text-align: left;
}

input{
    height: 25px;
    padding: 0 1em;
    font-size: 1em;
}
input:focus{
    outline-color: #1AAB8A;
}
.stylebutton{
    background:rgba(26, 171, 138, 0.7);
    color:#fff;
    border:none;
    position:relative;
    height:30px;
    font-size:1em;
    padding:0 1em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
  }
  .stylebutton:hover{
    background:#fff;
    color:#1AAB8A;
  }
  .stylebutton:before,button:after{
    content:'';
    position: absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: rgba(26, 171, 138, 1);;
    transition:400ms ease all;
  }
  .stylebutton:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  .stylebutton:hover:before,.stylebutton:hover:after{
    width:100%;
    transition:800ms ease all;
  }
  .stylebutton:active{
    box-shadow: 0px 0px 0px rgba(9, 46, 20, 0.747);
    background: rgba( 26, 171, 138, 1 );
  }

ol button, .deletebutton:before{
    background: rgba(171, 26, 26, 1);
    top: 30px;
}
ol button, .deletebutton:after {
    background: rgba(171, 26, 26, 1);
    top: 0px;
}
ol button, .deletebutton:hover{
    background:#fff;
    color:rgb(171, 26, 26);
}
ol button, .deletebutton:active{
    background: rgb(171, 26, 26);
}
.category{
  min-width: 350px;
  display: inline-block;
  background: rgba(26, 171, 138, 0.15);
  padding: 20px;
}
.category:hover{
  background: rgba(26, 171, 138, 0.55);
}
.category:active{
  background: rgba(26, 171, 138, 0.75);
  box-shadow: 0px 0px 0px rgba(9, 46, 20, 0.747);
}
a{
  text-decoration: none;
  color: black;
}
.no-style{
  margin: 1.3em;
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
.no-style:hover{
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
.no-style:active{
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
.question{
  /* position: absolute;
  display: none !important; */
  top: 250px;
  min-width: 350px;
  display: inline-block;
  background: rgba(26, 171, 138, 0.15);
  padding: 20px;
}
.questionbtn{
  display: inherit;
}
table, th, td{
  padding: 0.2em;
  border: 1px solid navy;
}